@page "/baidurecognizers"

<div class="row d-flex">
    <div class="col-6">
        <Button Text="开始" OnClick="e=>OnStart()"></Button>
        <Button Text="停止" OnClick="e=>OnStop()"></Button>
    </div>
    <div class="col-6">
        <Textarea Value="@Value"></Textarea>
    </div>
</div>

